.grid{
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    padding: 50px;
    img{
        display: block;
        width: 100%;
        object-fit: cover;
    }
    li{ 
        &:first-child{
        grid-column: span 2;
        grid-row: span 2;
        &:nth-child(2){
            display: block;
            height: 100%;
            object-fit: cover;
        }
    }
}
}

.grid--dark{
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    img{
        display: block;
        width: 100%;
        object-fit: cover;
        opacity: 0.3; 
        &:hover{
            opacity: 1;
        }   
    }
    li{
        background-color: black;

    }
}

.flipper:hover {
    transform: rotateY(180deg);
}
.flipper {
    transition: 0.8s;
    transform-style: preserve-3d;
    position: relative;
}
.front, .back {
    backface-visibility: hidden;
    
}
.front {
    z-index: 2;
}
.back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}